@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
    padding: 25px;
}
.article{
    display: flex;
    flex-direction: row;
    gap: 0px;
    box-shadow: 3px 6px 12px hsl(210, 46%, 95%);
    height: 55vh;
    width: 80vw;
    position: relative;
    top: 20vh;
    left: 8vw;
}
.left_side{
    height: 100%;
    width: 35%;
    border-radius: 16px 0px 0px 16px ;
}
.left_side img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 16px 0px 0px 16px ;
    object-fit: cover;
}
.right_side{
    height: 100%;
    width: 65%;
    border-radius: 0px 16px  16px 0px ;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}
.p_1{
    width: 100%;
    height: auto;
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    text-align: justify;
}
.p_2{
    width: 100%;
    height: auto;
    font-size: 1.1em;
    font-weight: 500;
    color: hsl(214, 17%, 51%);
    text-align: justify;
    margin: 22px 0px;
}
.infos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infos div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.infos p{
    width: 100%;
    color: hsl(212, 23%, 69%);
    font-size: 0.8em;
    letter-spacing: 1px;
}
.infos h2{
    width: 100%;
    color: hsl(217, 19%, 35%);
    font-size: 0.9em;
    letter-spacing: 1px;
}
.infos img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
}
.infos span{
    display: flex;
    flex-direction: column;
}
.infos .share{
    background-color: hsl(210, 46%, 95%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    
}
.share img{
    width: 18px;
    height: 18px;
    margin-left: 8px;
    transition: 0.6s ease-in-out;
}
.fadeIn{ 
    opacity: 0;    
    animation: fadeIn 0.7s forwards;
}
.fadeOut{ 
    opacity: 1;    
    animation: fadeOut 0.7s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        width: 10em;
    }
    50% {
        opacity: 0.6;
    }
    to {
        opacity: 1;
        width: 15em;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        width: 15em;
    }
    50% {
        opacity: 0.6;
    }
    to {
        
        opacity: 0;
        width: 10em;
    }
}
.popup{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 15em;
    border-radius: 12px;
    background-color: hsl(217, 19%, 35%);
    padding: 12px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 25px;
    gap: 8px;
    box-shadow: 2px 5px 18px hsl(212, 23%, 69%);
}
.popup p{
    color: hsl(212, 23%, 69%);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    
}
.popup::after{
    content: "";
    position: relative;
    bottom: -33px; 
    left: -28%; 
    border-width: 12px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent  transparent  transparent; /* Triangle pointant vers le bas */
    display: block;
    width: 0;
    height: 0;
}
.popup button{
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}
.popup .share{
    display: none;
}
.popup div{
    display: flex;
    flex-direction: row;
}
.share:hover{
    transform: scale(1.1);
    border: 1.5px solid hsl(214, 17%, 51%);
}
.share:active{
    background-color: hsl(214, 17%, 51%);
    
}
.share img:active{
    color: hsl(210, 46%, 95%);
}
.active{
    display: flex !important;
}
.fadeIn1{ 
    opacity: 0;    
    animation: fadeIn1 0.7s forwards;
}
.fadeOut1{ 
    opacity: 1;    
    animation: fadeOut1 0.7s forwards;
}
@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translate(0,-30px);
        z-index: -0.8;
    }
    50%{
        z-index: -0.5;
    }
    to {
        opacity: 1;
        transform: translate(0, 9.1vh);
        z-index: 0;
    }
}
@keyframes fadeOut1 {
    from {
        opacity: 1;
        transform: translate(0px,9.1vh);
        z-index: 0;
    }
    50%{
        z-index: -0.5;
    }
    to {
        opacity: 0;
        transform: translate(0,6vh);
        z-index: -0.8;
    }
}
.popup_1{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 93vw;
    background-color: hsl(217, 19%, 35%);
    padding: 12px;
    border-radius: 0px 0px 16px  16px ;
    padding: 6% 8%;
    opacity: 0;
}
.popup_1 div{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.popup_1 p{
    color: hsl(212, 23%, 69%);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}
.popup_1 button{
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}
.popup_1 .share{
    background-color: hsl(214, 17%, 51%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.popup_1 .share{
    background-color: hsl(214, 17%, 51%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
} 
.popup_1 .share img{
    width: 22px;
    height: 22px;
    margin-left: 2px;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: hsl(212, 23%, 69%);
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    flex-wrap: wrap;
    position: relative;
    top: 30vh;
}
.attribution a {
    text-decoration: none;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
@media screen and (min-width:730px){
    .p_1{font-size: 1.6em;
    }
    .p_2{
        font-size: 1.2em;
    }
}
@media screen and (max-width:1000px){
    .article{
        display: flex;
        flex-direction: row;
        gap: 0px;
        box-shadow: 3px 6px 12px hsl(210, 46%, 95%);
        height: 70vh;
        width: 80vw;
        position: relative;
        top: 5vh;
        left: 7vw;
    }
}
@media screen and (max-width: 1000px) and (min-width: 900px){
    .popup::after{
        bottom: -33px; 
        left: -36%; 
    }
}
@media screen and (max-width: 899px){
    .popup::after{
        bottom: -33px; 
        left: -33%; 
    }
}
@media screen and (max-width: 840px){
    .article{
        height: 80vh;
        width: 80vw;
        position: relative;
        top: 5vh;
        left: 5vw;
    }
    .p_1{
        font-size: 1.4em;
    }
    .p_2{
        font-size: 1.1em;
    }
    
}
@media screen and (max-width: 587px){
    .article{
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 85vw;
        position: relative;
        top: 1.5vh;
        left: 3.5vw;
    }
    .left_side{
        height: 35%;
        width: 100%;
    }
    .left_side img{
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 16px 16px 0px 0px  ;
        object-fit: cover;
    }
    .right_side{
        height: 65%;
        width: 100%;
        border-radius:0px ;
        border-radius: 0px 0px 16px  16px ;
    }
    .p_1{
        font-size: 1.35em;
    }
    .p_2{
        font-size: 1.05em;
    }
    .popup::after{
        border-width: 0;
        border-style: none;
        border-color: none;
    }
    .share img{
        margin-left: 8px;
    }
    .popup_1{
        width: 85vw;
    }
}
@media screen and (max-width: 390px){
    .article{
        display: flex;
        flex-direction: column;
        height: 93vh;
        width: 93vw;
        position: relative;
        top: 0.8vh;
        left: -3.5vw;
    }
    .left_side{
        height: 35%;
        width: 100%;
    }
    .p_1{
        font-size: 1.1em;
    }
    .p_2{
        font-size: 0.9em;
    }
    .popup_1{
        width: 93vw;
    }
    .infos div img{
        width: 45px;
        height: 45px;
    }
    .share img{
        width: 18px;
        height: 18px;
        margin-left: 9px;
    }
}